.cart{
    background-color: orange;
    padding: 25px;
    opacity: 2;
    margin-top: 45px;
    position: sticky;
    top:0px;
    border: 1px solid rgb(181, 174, 174);
    border-radius: 5px;
    margin-right: 10px;
}
.cart h3{
    margin-bottom:40px ;
}
.btn-cart{
    display: flex;
    width: 95%;
    margin:5px auto ;
    justify-content: space-between;
    background: #FF3030;
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-size: 21px;
    align-items: center;
}